{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": 0,
    "comma-dangle": 0,
    "class-methods-use-this": 0,
    "no-console": "off"
  },
  "extends": "airbnb-base"
}